/.idea
/vendor/
/docker-service-configs/mariadb/my.cnf
/docker-service-configs/nginx/conf.d/app.conf
node_modules/
npm-debug.log
yarn-error.log
docker-compose.yml
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
storage/*.key
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.phpunit.result.cache
